# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
tracking.db
*.sqlite3
*.db

# Python caches
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
